*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;

}
body{
    background-color: #f3f3f3;
    padding: 20px;

}
container{
    background:#fff;
    padding:25px;
    border-radius:12p;

}
section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 50px;

}
.section:last-child{
    border-bottom: none;
}
.left{
    width:25%;
}
.left h2{
    
    margin-bottom: 10px;
}
.left p{
    font-size: 14px;
    color:#555;
    margin-bottom: 15px;
}
.left a{
    text-decoration: none;
    color:blue;                        
    font-weight: bold;

}
.right{
    
    width:70%;
    display:flex;
    gap:25px;
    flex-direction: row;

}
.card{
    width:110px;
    text-align: center;
    padding:15px;
    border:1px solid#ddd;
    border-radius: 12px;
    background-color: #fafafa;
    transition: 0.3s;
    cursor:pointer;
    
}
.travel.cards{
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 20;
}
.card img{
    width:80px;
    height:55px;
    object-fit: contain;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;
    margin:0;
}
.card:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transform: translateY(-5px);

}
.title{
    font-weight: 600px;
    margin-bottom: 5px;
}
.sub-text{
    font-size:12px;
    color:green;
    margin-top:5px;
    display:block;
}


.section,
.container{
    border:none;
}