*{
    div{
        border:2px solid black;
        font-family:Arial,sans-serif
    }
}
.main{
    max-width:900px;
    height:700px;
    display:flex;
    flex-direction:column;
    /*align-items:center;*/
    padding:10px;
    border-width:10px;
}
.top{
    flex:1;
    background-color:yellow;
    text-align: center;
    color:white;
    border:none;
    justify-items: center;
}
.middle1{
    flex:1;
    background-color: white;
    text-align:center;
    color: yellow;
    border:none;
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}
.m1{
    flex: 1;
    background-color: white;
}
.m2{
    flex: 1;
     background-color: white;
}
.m3{
    flex: 1;
    background-color: white;
}
.m4{
    flex: 1;
    background-color: white;
}
.m5{
    flex: 1;
    background-color:white;
}
.middle2{
     flex:3;
    background-color: gray;
    text-align: center;
    display:flex;
    flex-direction: row;
    gap:20px;
    padding: 10px;
    /*border:none;*/
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom-width: 10px;
    border-bottom-color: black;
.left{
    flex:1;
    border:none;
    background-color: white;
    padding: 10px;
.l1{
    width:130px;
    height: 20px;
    background-color: white;
    padding: 10px;
}
}
.mid{
    flex:1;
    border:none;
    background-color: white;
    padding: 10px;

.l2{
    width: 130px;
    height: 20px;
    background-color: white; 

}
}
.right{
    flex:3;
    border:none;
    background-color: white;
    padding: 10px;
    justify-content:space-between;
    align-items: center;


.l3{
    width:500px;
    height:30px;
    background-color: white;
}
}
}
.bottom{
    flex:1;
    background-color: yellow;
    color:white;
    text-align: center;
    border:none;
}