*{
    div{
    border:2px solid red;
    }
 }
.main{
    max-width: 700px;
    height: 500px;
    display: flex;
    padding: 20px
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
}
.right{
    flex: 1;
}