*/{
    div{
    border:2px solid red;
    }
 }
.main{
    max-width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
}
.middle{
    flex: 1;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
    .left{
        flex: 1;
    }
    .middle{
        flex: 1;
    }
    .right{
        flex: 1;
    }
}