*{
     
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;


}
body{
    background:#f5f5f5;
    padding:30px
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}


.section{
    background:#ffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}
.section h2{
    margin-bottom: 15px;
    font-size: 18px;

}
.cards{
    display:flex;

    gap: 15px;


}
.card{
    text-align: center;
    flex:1;
}
.card img{
    width:55%;
    height:60px;
    object-fit:cover;
    border-radius: 12px;
    margin-bottom:8px;
}    
.card p{
    font-size: 14px;
    margin-top: 8px;
    color:#4444;
}    
